@model LekarskaOrdinacijaCodeMedic.Models.Usluga

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Usluga</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.vrsta_usluge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vrsta_usluge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cena)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_usluga }) |
    @Html.ActionLink("Back to List", "Index")
</p>
